
<!-- ================================
       START DASHBOARD NAV
================================= -->
<div class="sidebar-nav sidebar--nav" style="background-color: white; box-shadow: 5px 10px 18px #88888861; border-top: none;">
    <div class="sidebar-nav-body">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div><!-- end menu-toggler -->
        <div class="author-content" style="background-color: #7b00ff17;">
            <div class="d-flex align-items-center">
                <div class="author-bio">
                    <h4 class="author__title">{{request.user}}</h4>
                    <span class="author__meta">Administrador</span>
                </div>
            </div>
        </div>
        <div id="accordion">
            {%comment%}
          <div class="card">
            <div class="card-header" id="heading3">
              <h5 class="mb-0">
                <a id="nav_reservas" class="btn btn-link" data-toggle="collapse" data-target="#nav_reservas_content" aria-expanded="true" aria-controls="collapse3">
                  <i class="las la-ticket-alt"></i>Reservas
                </a>
              </h5>
            </div>
            <div id="nav_reservas_content" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
              <div>
                  <div class="card">
                    <div class="card-header sub">
                        Reservas Activas
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header sub">
                        Historial de Reservas
                    </div>
                  </div>
              </div>
            </div>
          </div>
            {% endcomment %}
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a id="nav_tours" class="btn btn-link" data-toggle="collapse" data-target="#nav_tours_content" aria-expanded="true" aria-controls="collapseOne">
                  <i class="las la-passport"></i>Tours
                </a>
              </h5>
            </div>
            <div id="nav_tours_content" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div>
                  <a id="nav_registrar_tour" href="{% url 'registrar_tour' %}">
                      <div class="card">
                        <div class="card-header sub">
                            Registrar Tour
                        </div>
                      </div>
                  </a>
                  <a id="nav_tours_registrados" href="{% url 'tours_registrados' %}">
                      <div class="card">
                        <div class="card-header sub">
                            Tours Registrados
                        </div>
                      </div>
                  </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <a id="nav_salidas" class="btn btn-link collapsed" data-toggle="collapse" data-target="#nav_salidas_content" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="las la-bus"></i>Salidas
                </a>
              </h5>
            </div>
            <div id="nav_salidas_content" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div>
                  <a id="nav_programar_salida" href="{% url 'programar_salida' %}">
                      <div class="card">
                        <div class="card-header sub">
                            Programar Salida
                        </div>
                      </div>
                  </a>
                  <a id="nav_salidas_programadas" href="{% url 'salidas_programadas' %}">
                      <div class="card">
                        <div class="card-header sub">
                            Salidas Programadas
                        </div>
                      </div>
                  </a>
                  <a id="nav_historial_salidas" href="{% url 'historial_salidas' %}">
                      <div class="card">
                        <div class="card-header sub">
                            Historial de Salidas
                        </div>
                      </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <a id="nav_categorias" class="btn btn-link collapsed" data-toggle="collapse" data-target="#nav_categorias_content" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="las la-bus"></i>Categorias
                </a>
              </h5>
            </div>
            <div id="nav_categorias_content" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div>
                  <a id="nav_registrar_categoria" href="{% url 'registrar_categoria' %}">
                      <div class="card">
                        <div class="card-header sub">
                            Registrar Categoria
                        </div>
                      </div>
                  </a>
                  <a id="nav_categorias_registradas" href="{% url 'categorias' %}">
                      <div class="card">
                        <div class="card-header sub">
                            Categorias Registradas
                        </div>
                      </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="{% url 'logout' %}" style="text-decoration: none; color: inherit;">
                  <i class="las la-power-off"></i>Cerrar Sesion
                </a>
              </h5>
            </div>
        </div>
    </div>
</div><!-- end sidebar-nav -->
<style>
.card-header.sub{
    font-size: 15px;
    padding-left: 55px;
    color: #0d233e;
}

button.btn.btn-link{
    color: #0d233e;
}

.card{
    background-color: white !important;
    border: none !important;
}

.card-header{
    border: none !important;
    background-color: white !important;
}

a.btn.btn-link i{
    margin-right: 5px;
}

.page-active > div > div{
    color: rgb(123, 0, 255) !important;
    font-weight: 400;
}

.page-active{
    color: rgb(123, 0, 255) !important;
    font-weight: 400;
}

.card-header.sub:hover{
    color: rgb(123, 0, 255);
}

.card a:hover{
    color: rgb(123, 0, 255);
}
</style>
<!-- ================================
       END DASHBOARD NAV
================================= -->