<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'includes/head.html' %}
</head>
{% block header_code %}
{% endblock %}
<body>
    <!-- start cssload-loader -->
    <!-- <div class="preloader" id="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div> -->
    <!-- end cssload-loader -->
    {% include 'includes/admin_navbar.html' %}

    {% block main_content %}
    {% endblock %}

    {% include 'includes/footer_statics.html' %}
</body>
{% block footer_code %}
<style>
    .dropdown.bootstrap-select.select-contain-select button{
        border-radius: 5px !important;
    }
</style>
{% endblock %}
</html>