{% extends "admin_base.html" %}
{% load static %}
{% block main_content %}
<!-- ================================
    START DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2" style="background-color: #7b00ff !important;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30"><a href="{% url 'historial_salidas' %}" style="color: white;"><i class="las la-arrow-left"></i></a> Listado de Pasajeros</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list">
                            <ul class="list-items d-flex justify-content-end">
                                <li><a href="index.html" class="text-white">Admin</a></li>
                                <li>Salidas</li>
                                <li>Historial de Salidas</li>
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-box">
                            <div class="form-title-wrap" style="display: flex !important;">
                                <div style="width: 70%;">
                                    <h3 class="title">Listado de Reservas</h3>
                                    <p class="font-size-14">Se registran {{ reservas|length }} reservas hasta el momento.</p>
                                </div>
                                <div style="width:30%; text-align: right;">
                                    <a href="">Ver Listado de Pasajeros</a>
                                </div>
                            </div>
                            <div class="form-content">
                                <div class="table-form table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Salida</th>
                                                <th scope="col">Tour</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Capacidad</th>
                                                <th scope="col">Pasajeros</th>
                                                <th scope="col">Codigo</th>
                                                <th scope="col">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for salida in salidas %}
                                        <tr>
                                            <td><a target="_blank" href="{% url 'listado_reservas' salida.token %}">{{salida.token}}</a></td>
                                            <td>{{salida.tour}}</td>
                                            <td>{{salida.fecha_salida}}</td>
                                            <td>{{salida.tour.capacidad}}</td>
                                            <td>{{salida.get_num_pasajeros}}</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                {% comment %}
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link page-link-nav" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="la la-angle-left"></i></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link page-link-nav" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link page-link-nav" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link page-link-nav" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link page-link-nav" href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="la la-angle-right"></i></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                {% endcomment %}
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Exploreit 2020. Todos los derechos reservados.
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
{% endblock %}
{% block footer_code %}
<style>
    .table-form th, .table-form td {
        font-size: 13px !important;
    }

    .table tbody tr td{
        border: solid 1px lightgray;
    }
    .table thead tr th{
        border: solid 1px white;
    }
</style>
{% endblock %}