{% extends "admin_base.html" %}
{% load static %}
{% block main_content %}
<!-- ================================
    START DASHBOARD AREA
================================= -->
<!-- ================================
    START DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2" style="background-color: #7b00ff !important;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30"> Salidas Programadas</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list">
                            <ul class="list-items d-flex justify-content-end">
                                <li><a href="index.html" class="text-white">Admin</a></li>
                                <li>Salidas</li>
                                <li>Salidas Programadas</li>
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    {% for salida in salidas_proximas %}
                    <div class="card-item card-item-list" style="width: 100%;">
                    <div class="card-img" style="width: 25%;">
                        <a href="{% url 'listado_pasajeros' salida.token %}" class="d-block">
                            <img src="{% if salida.tour.imagen %}{{salida.tour.imagen_url}}{% else %}{% static 'images/logo.png' %}{% endif %}" alt="Destination-img" style="width: 100%;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="tour-details.html">{{salida.tour.nombre}}</a><a style="padding-left: 5px;" target="_blank" href="{% url 'tour_info' salida.tour.token%}"><i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
                        <p class="card-meta">Fecha de Salida: {{salida.fecha_salida}} - Capacidad: {{salida.capacidad}}</p>
                        <div class="card-price d-flex align-items-center justify-content-between">
                            <p>
                                <span class="price__num">${{salida.tour.precio|floatformat:2}}</span>
                                <span class="price__from">Por Persona</span>
                            </p>
                        </div>
                        <a href="javascript:void(0);" onclick="modalEditar('{{salida.token}}', '{{salida.tour.nombre}}', '{{salida.fecha_salida}}')">Aumentar Capacidad</a><br>
                        <a href="{% url 'listado_pasajeros' salida.token %}">Ver Listado de Pasajeros</a><br>
                        <a href="{% url 'listado_reservas' salida.token %}">Ver Listado de Reservas</a>
                    </div>
                </div><!-- end card-item -->
                    {% endfor %}
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-box mt-3 text-center">
                            <a href="{% url 'programar_salida' %}" class="theme-btn">Programar Nueva Salida</a>
                        </div><!-- end btn-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Exploreit 2020. Todos los derechos reservados.
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div style="padding: 30px">

    </div>
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
{% endblock %}

{% block footer_code %}
<script>
    document.getElementById('nav_salidas_programadas').classList.add('page-active')
    document.getElementById('nav_salidas').classList.add('page-active')
    document.getElementById('nav_salidas_content').classList.add('show')

    function modalEditar(salida_token, salida_nombre, salida_fecha){
        Swal.fire({
          title: 'Aumentar capacidad de la Salidad',
          text: 'Ingrese la cantidad de cupos que desee agregar a la salida con destino a ' + salida_nombre + ' programada para el ' + String(salida_fecha),
          input: 'number',
          icon: 'info',
          inputAttributes: {
            autocapitalize: 'off',
            placeholder: 'Cupos Adicionales'
          },
          showCancelButton: true,
          confirmButtonText: 'Aceptar',
          showLoaderOnConfirm: true
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              type: "POST",
              url: "{% url 'aumentar_capacidad' %}",
              data: {csrfmiddlewaretoken: '{{ csrf_token }}', aumento: result.value, salida: salida_token},
              success:function(response){
                if(response.status == 200){
                    Swal.fire({
                      icon: 'success',
                      title: 'Salida Actualizada!',
                      text: 'La salida ha aumentado su capacidad a ' + ' pasajeros.',
                    })
                    setTimeout(function(){ window.location.reload(); }, 1000);
                }else{}
              },
            });
          }
        })
    }
</script>
{% endblock %}