{% extends "admin_base.html" %}
{% load static %}
{% block main_content %}
<!-- ================================
    START DASHBOARD AREA
================================= -->
<!-- ================================
    START DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2" style="background-color: #7b00ff !important;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30"> Tours Registrados</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list">
                            <ul class="list-items d-flex justify-content-end">
                                <li><a href="index.html" class="text-white">Admin</a></li>
                                <li>Tours</li>
                                <li>Tours Registrados</li>
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="filter-bar d-flex align-items-center justify-content-between">
        </div>
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" style="padding: 0 !important;">
                        <div class="filter-wrap margin-bottom-10px">
                            <div class="filter-bar d-flex align-items-center justify-content-between">
                                <div class="filter-bar-filter d-flex flex-wrap align-items-center">
                                    <div class="filter-option">
                                        <h3 class="title font-size-16">Filtros:</h3>
                                    </div>
                                    <div class="filter-option">
                                        <div class="dropdown dropdown-contain">
                                            <a class="dropdown-toggle dropdown-btn dropdown--btn"  role="button" data-toggle="dropdown">
                                                Precio
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-wrap">
                                                <div class="dropdown-item">
                                                    <div class="input-box">
                                                        <label class="label-text">Rango de Precio</label>
                                                        <div class="form-group select-contain select-contain-shadow w-auto" style="display: flex;">
                                                            <input name="precio-min" class="form-control" type="number" id="precio-min" style="width: 47%; padding: 10px 7px; font-size: 0.9rem;" placeholder="Precio Min.">
                                                            <div style="width: 6%;"></div>
                                                            <input name="precio-max" class="form-control" type="number" id="precio-max" style="width: 47%; padding: 10px 7px; font-size: 0.9rem;" placeholder="Precio Max.">
                                                        </div><!-- end price-slider-amount -->
                                                    </div><!-- end slider-range-wrap -->
                                                    <button onclick="aplicarFiltros(['precio-min', 'precio-max'])" class="theme-btn w-100 text-center">Aplicar</button>
                                                </div><!-- end dropdown-item -->
                                            </div><!-- end dropdown-menu -->
                                        </div><!-- end dropdown -->
                                    </div>
                                    <div class="filter-option">
                                        <div class="dropdown dropdown-contain">
                                            <a class="dropdown-toggle dropdown-btn dropdown--btn"  role="button" data-toggle="dropdown">
                                                Tipo
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-wrap">
                                                <div class="dropdown-item">
                                                    <div class="form-check">
                                                      <input value="NAC" class="form-check-input" type="radio" name="tipo" id="tiponac" style="margin-top: 6px;">
                                                      <label class="form-check-label" for="tiponac">
                                                        Nacional
                                                      </label>
                                                    </div>
                                                    <div class="form-check">
                                                      <input value="INT" class="form-check-input" type="radio" name="tipo" id="tipoint" style="margin-top: 6px;">
                                                      <label class="form-check-label" for="tipoint">
                                                        Internacional
                                                      </label>
                                                    </div>
                                                    <button onclick="aplicarFiltros(['tipo'])" class="theme-btn w-100 text-center mt-2">Aplicar</button>
                                                </div><!-- end dropdown-item -->
                                            </div><!-- end dropdown-menu -->
                                        </div><!-- end dropdown -->
                                    </div>
                                    <div class="filter-option">
                                        <div class="dropdown dropdown-contain">
                                            <a class="dropdown-toggle dropdown-btn dropdown--btn"  role="button" data-toggle="dropdown">
                                                Categoría
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-wrap">
                                                <div class="dropdown-item">
                                                </div><!-- end dropdown-item -->
                                            </div><!-- end dropdown-menu -->
                                        </div><!-- end dropdown -->
                                    </div>
                                    <div class="filter-option">
                                        <div class="dropdown dropdown-contain">
                                            <a class="dropdown-toggle dropdown-btn dropdown--btn"  role="button" data-toggle="dropdown">
                                                Nombre
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-wrap">
                                                <div class="dropdown-item">
                                                    <div class="form-group">
                                                      <label class="form-control-label" for="nombre">
                                                        Nombre del Tour
                                                      </label>
                                                      <input class="form-control" type="text" name="nombre" id="nombre">
                                                    </div>
                                                    <button onclick="aplicarFiltros(['nombre'])" class="theme-btn w-100 text-center mt-2">Aplicar</button>
                                                </div><!-- end dropdown-item -->
                                            </div><!-- end dropdown-menu -->
                                        </div><!-- end dropdown -->
                                    </div>
                                </div><!-- end filter-bar-filter -->
                            </div><!-- end filter-bar -->
                            <div style="display: flex; padding: 10px 5px; width: 100%; overflow: auto;">
                                {% for key,tag in tags.items %}
                                <div class="tags-section" style="display: flex; margin-right: 10px; margin-right: 10px; background-color: #7b00ff; padding: 3px 10px 3px 10px; border-radius: 50px; color: white;">
                                    <p style="font-weight: bold;">{{tag.nombre}}:</p>
                                    <p style="padding-left: 5px;">{{tag.valor_string}}</p>
                                    <p onclick="eliminarFiltro('{{key}}')" style="cursor: pointer; padding-left: 7px; font-weight: bold;"><i style="font-weight: bold;" class="las la-times"></i></p>
                                </div>
                                {% endfor %}
                            </div>
                            <div style="display: flex; padding: 10px 5px; width: 100%; overflow: auto;">
                            </div>
                        </div>
                    </div>
                    {% for tour in tours %}
                    <div class="card-item card-item-list" style="width: 100%;">
                    <div class="card-img" style="width: 25%;">
                        <a class="d-block">
                            <img src="{% if tour.imagen %}{{tour.imagen_url}}{% else %}{% static 'images/LOGO-n.png' %}{% endif %}" alt="Destination-img">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% url 'editar_tour' tour.token %}">{{tour.nombre}}</a><a style="padding-left: 5px;" target="_blank" href="{% url 'tour_info' tour.token%}"><i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
                        <p class="card-meta">{{tour.ubicacion}}</p>
                        <p class="card-meta">Interesados: {{tour.get_interesados}}</p>
                        <div class="card-price d-flex align-items-center justify-content-between">
                            <p>
                                <span class="price__num">${{tour.precio|floatformat:2}}</span>
                                <span class="price__from">Por Persona</span>
                            </p>
                        </div>
                        <a href="{% url 'editar_tour' tour.token %}"><p>Ver/Editar</p></a>
                        <a href="javascript:void(0)" onclick="copiarTour('{{tour.token}}')"><p>Crear Copia</p></a>
                    </div>
                </div><!-- end card-item -->
                    {% endfor %}
                </div><!-- end row -->
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Exploreit 2020. Todos los derechos reservados.
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div style="padding: 30px">

    </div>
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
{% endblock %}

{% block footer_code %}
<script>
    document.getElementById('nav_tours_registrados').classList.add('page-active')
    document.getElementById('nav_tours').classList.add('page-active')
    document.getElementById('nav_tours_content').classList.add('show')

    var filtros = {% if tags %}{{tags|safe}}{% else %}{}{% endif %};

    function aplicarFiltros(filtros_ls){
        setTimeout(function () {
            var new_url = ''
            for(var i=0; i<filtros_ls.length; i++){
                if(filtros_ls[i] == 'tipo'){
                    try{
                        filtros[filtros_ls[i]].valor = document.querySelector('input[name="tipo"]:checked').value;
                    }catch{
                        filtros[filtros_ls[i]] = { valor : document.querySelector('input[name="tipo"]:checked').value};
                    }
                }else{
                    try{
                        filtros[filtros_ls[i]].valor = document.getElementById(filtros_ls[i]).value;
                    }catch{
                        filtros[filtros_ls[i]] = {valor: document.getElementById(filtros_ls[i]).value};
                    }
                }
            }
            window.location.href = '{% url 'tours_registrados' %}'+ cambiarURL();
        }, 200);
    }

    function cambiarURL(){
        var new_url = '?'
        let keys = Object.keys(filtros)
        for(var i=0; i<keys.length; i++){
            new_url = new_url + String(keys[i]) + '=' + String(filtros[keys[i]].valor)
            if(i!=keys.length-1){
                new_url = new_url + '&'
            }
        }
        return (new_url.replaceAll("/", "%2F").replaceAll(" - ", "+-+"));
    }

    function eliminarFiltro(key){
        delete filtros[key]
        window.location.href = '{% url 'tours_registrados' %}'+ cambiarURL();
    }

    function addCalendarListener(){
        let button = document.querySelector('.applyBtn.btn.btn-sm.btn-primary')
        button.addEventListener("click", function(){ aplicarFiltros(['daterange']), false})
    }

    function copiarTour(token){
        $.ajax({
          type: "POST",
          url: "{% url 'copiar_tour' %}",
          data: {csrfmiddlewaretoken: '{{ csrf_token }}', tour_token: token},
          success:function(response){
            window.location.reload()
          },
        });
    }
</script>
<style>
    .tags-section p{
        font-size: 13px;
    }
</style>
{% endblock %}