{% extends "admin_base.html" %}
{% load static %}
{% block main_content %}
<!-- ================================
    START DASHBOARD AREA
================================= -->
<!-- ================================
    START DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2" style="background-color: #7b00ff !important;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30"> Tours Registrados</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list">
                            <ul class="list-items d-flex justify-content-end">
                                <li><a href="index.html" class="text-white">Admin</a></li>
                                <li>Tours</li>
                                <li>Tours Registrados</li>
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    {% for tour in tours %}
                    <div class="card-item card-item-list" style="width: 100%;">
                    <div class="card-img" style="width: 25%;">
                        <a class="d-block">
                            <img src="{% if tour.imagen %}{{tour.imagen_url}}{% else %}{% static 'images/LOGO-n.png' %}{% endif %}" alt="Destination-img">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% url 'editar_tour' tour.token %}">{{tour.nombre}}</a></h3>
                        <p class="card-meta">{{tour.ubicacion}}</p>
                        <p class="card-meta">{{fecha_salida}}</p>
                        <div class="card-price d-flex align-items-center justify-content-between">
                            <p>
                                <span class="price__num">${{tour.precio|floatformat:2}}</span>
                                <span class="price__from">Por Persona</span>
                            </p>
                        </div>
                        <a href="{% url 'editar_tour' tour.token %}"><p>Ver/Editar</p></a>
                    </div>
                </div><!-- end card-item -->
                    {% endfor %}
                </div><!-- end row -->
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Exploreit 2020. Todos los derechos reservados.
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div style="padding: 30px">

    </div>
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
{% endblock %}

{% block footer_code %}
<script>
    document.getElementById('nav_tours_registrados').classList.add('page-active')
</script>
{% endblock %}