{% extends "base.html" %}
{% load static %}
{% block main_content %}

<!-- ================================
    START HERO-WRAPPER AREA
================================= -->
<section class="hero-wrapper" style="margin-top: -75px;">
    <div style="width: 100%; height: 75px; background-color: #ff000000; z-index: 2;"></div>
    <div class="hero-box hero-bg" style="min-height: 90vh; max-height: max-content; z-index: 1; margin-top: -75px;">
        <div class="container">
            <div class="row pb-4">
                <div class="col-lg-10 mx-auto">
                    <h3 class="sec__title cd-headline zoom">
                        Más Que Un Viaje, <br>Una Aventura
                    </h3>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
            {% comment %}
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="search-fields-container" style="background-color: #fff0;">
                        <div class="section-tab section-tab-2">
                            <ul class="nav nav-tabs" id="myTab3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="one-way-tab" data-toggle="tab" href="#one-way" role="tab" aria-controls="one-way" aria-selected="true">
                                        Nacional
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="round-trip-tab" data-toggle="tab" href="#round-trip" role="tab" aria-controls="round-trip" aria-selected="false">
                                        Internacional
                                    </a>
                                </li>
                            </ul>
                        </div><!-- end section-tab -->
                        <div class="tab-content" id="myTabContent3">
                            <div class="tab-pane fade show active" id="one-way" role="tabpanel" aria-labelledby="one-way-tab">
                                <div class="contact-form-action">
                                    <form method="GET" action="{% url 'tours' %}" class="row align-items-center">
                                        <input name="tipo" value="NAC" hidden>
                                        <div class="col-lg-3 pr-0">
                                            <div class="input-box">
                                                <label class="label-text">Rango de fechas</label>
                                                <div class="form-group">
                                                    <span class="la la-calendar form-icon"></span>
                                                    <input class="date-range form-control" type="text" name="daterange">
                                                </div>
                                            </div>
                                        </div><!-- end col-lg-3 -->
                                        <div class="col-lg-3 pr-0">
                                            <div class="input-box">
                                                <label class="label-text">Categoria</label>
                                                <div class="form-group select-contain select-contain-shadow w-auto">
                                                    <select name="categoria" class="select-contain-select categoria-opt">
                                                        <option value="ALL" selected>Todo</option>
                                                        {% for categoria in categorias_nacionales %}
                                                        <option value="{{categoria.codigo}}">{{categoria.nombre}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div><!-- end col-lg-3 -->
                                        <div class="col-lg-3 pr-0">
                                            <div class="input-box">
                                                <label class="label-text">Rango de Precio</label>
                                                <div class="form-group select-contain select-contain-shadow w-auto" style="display: flex;">
                                                    <input name="precio-min" class="form-control" type="number" id="min-price-nac" style="width: 47%; padding: 10px 7px; font-size: 0.9rem;" placeholder="Precio Min.">
                                                    <div style="width: 6%;"></div>
                                                    <input name="precio-max" class="form-control" type="number" id="max-price-nac" style="width: 47%; padding: 10px 7px; font-size: 0.9rem;" placeholder="Precio Max.">
                                                </div><!-- end price-slider-amount -->
                                            </div><!-- end slider-range-wrap -->
                                        </div><!-- end col-lg-3 -->
                                        <div class="col-lg-3">
                                            <button type="submit" class="theme-btn w-100 text-center margin-top-20px">Buscar</button>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- end tab-pane -->
                            <div class="tab-pane fade" id="round-trip" role="tabpanel" aria-labelledby="round-trip-tab">
                                <div class="contact-form-action">
                                    <form method="GET" action="{% url 'tours' %}" class="row align-items-center">
                                        <input name="tipo" value="INT" hidden>
                                        <div class="col-lg-3 pr-0">
                                            <div class="input-box">
                                                <label class="label-text">Rango de fechas</label>
                                                <div class="form-group">
                                                    <span class="la la-calendar form-icon"></span>
                                                    <input class="date-range form-control" type="text" name="daterange" value="04/28/2020">
                                                </div>
                                            </div>
                                        </div><!-- end col-lg-3 -->
                                        <div class="col-lg-3 pr-0">
                                            <div class="input-box">
                                                <label class="label-text">Categoria</label>
                                                <div class="form-group select-contain select-contain-shadow w-auto">
                                                    <select name="categoria" class="select-contain-select">
                                                        <option value="ALL" selected>Todo</option>
                                                        {% for categoria in categorias_internacionales %}
                                                        <option value="{{categoria.codigo}}">{{categoria.nombre}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div><!-- end col-lg-3 -->
                                        <div class="col-lg-3 pr-0">
                                            <div class="input-box">
                                                <label class="label-text">Rango de Precio</label>
                                                <div class="form-group" style="display: flex;">
                                                    <input name="precio-min" class="form-control" type="number" id="min-price" style="width: 47%; padding: 10px 7px; font-size: 0.9rem;" placeholder="Precio Min.">
                                                    <div style="width: 6%;"></div>
                                                    <input name="precio-max" class="form-control" type="number" id="max-price" style="width: 47%; padding: 10px 7px; font-size: 0.9rem;" placeholder="Precio Max.">
                                                </div><!-- end price-slider-amount -->
                                            </div><!-- end slider-range-wrap -->
                                        </div><!-- end col-lg-3 -->
                                        <div class="col-lg-3">
                                            <button type="submit" class="theme-btn w-100 text-center margin-top-20px">Buscar</button>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- end tab-pane -->
                        </div>
                    </div><!-- end main-search-input -->
                </div>
            </div><!-- end row -->
            {% endcomment %}
        </div><!-- end container -->
    </div>
</section><!-- end hero-wrapper -->
<!-- ================================
    END HERO-WRAPPER AREA
================================= -->

<!-- ================================
    START SALIDAS AREA
================================= -->
<div style="min-height: 100vh;background-image: url('{% static 'images/background11.png' %}'); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">x
    <section class="hotel-area section-padding overflow-hidden padding-right-100px padding-left-100px padding-top-100px" style="padding-bottom: 0px; background-color: transparent; height: fit-content;">
        <div class="container-fluid" style="margin-bottom: 0px;"><!-- margin-bottom: -150px -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center" style="height: fit-content !important; padding-bottom: 25px;">
                        <h2 class="sec__title line-height-55 pb-5">Visita los lugares que más Te Gustan</h2>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
            <div class="row special-row">
                <div class="col-xl-3 xl-none" style="color: black; margin: auto;">
                    <h4 style="font-size: 28px;" class="mb-2">Próximas Salidas</h4>
                    <p class="mb-3" style="font-size: 20px;">Reserva ahora y empieza una nueva aventura con nosotros de inmediato.</p>
                    <a style="font-size: 20px; color: #7b00ff !important" href="{% url 'tours' %}">Ver más</a>
                </div>
                <div class="cards-container" style="display: flex; margin: auto;">
                    <div class="container">
                        <input type="radio" name="slider" id="item-1" value="1" checked>
                        <input type="radio" name="slider" id="item-2" value="2">
                        <input type="radio" name="slider" id="item-3" value="3">
                        <div class="cards">
                            {% if tours %}
                                {% for tour in tours %}
                                <label class="card" for="item-{{forloop.counter}}" id="song-{{forloop.counter}}" style="cursor: auto;">
                                    <div class="card-item special mb-0" style=" border-radius: 20px">
                                        <div class="card-img" style="background-image: url('{% if tour.imagen %}{{tour.imagen_thumbnail}}{% else %}{% static 'images/logo.png' %}{% endif %}'); background-size: cover; background-position: center; height: 420px; border-radius: 20px 20px 0 0;"></div>
                                        <div class="card-body" style="width: 100%;">
                                            <h3 class="card-title"><a href="javascript:void(0)">{{tour.nombre}}</a></h3>
                                            <p class="card-meta"><i class="las la-map-marker-alt"></i>Guayaquil, Ecuador</p>
                                            <div class="card-price d-flex align-items-center justify-content-between">
                                                <p>
                                                    <span class="price__num">$45,00</span>
                                                    <span class="price__text">Por persona</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- end card-item -->
                                </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div><!-- end col-lg-12 -->
                <div class="col-xl-3 sm-show" style="color: black; margin: auto; margin-top: -150px;">
                    <p class="mb-3" style="font-size: 20px; text-align: center;">Reserva ahora y empieza una nueva aventura con nosotros de inmediato.</p>
                    <div style="margin: auto; width: fit-content;">
                        <a style="font-size: 20px; color: #7b00ff !important" href="{% url 'tours' %}">Ver más</a>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container-fluid -->
        {% comment %}
        <div class="container-3 video-box" style="width: 100vw; background-color: black; padding: 0 !important; z-index: 2;">
            <div style="height: 100%; width: fit-content; margin: auto;">
                <video style="height: 100%;" autoplay muted loop id="myVideo">
                  <source src="{% static 'videos/exploreit2.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="newsletter-section" style="width: 100%;">
                <div class="newsletter-section-container section-heading text-center pt-5 mt-5" style="height: fit-content !important;">
                    <h2 class="sec__title line-height-55" style="color: white;">Suscribete para no perderte ninguna promocion</h2>
                    <p style="color: white;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
                </div>
                <div class="newsletter-form">
                    <input class="newsletter-input" type="email" placeholder="johndow@example.com">
                    <div style="margin: auto; width: fit-content;">
                    <button class="newsletter-button mt-3" >Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        <div class="hero-box mt-4 newsletter-div" style="padding: 80px 1.25rem 80px 1.25rem; width: 100vw; z-index:0; background-image:url('{% static 'images/background8.jpg' %}'); background-size: cover; background-position: center;">
            <div class="section-heading text-center">
                <h2 class="sec__title line-height-55" style="color: white;">Lorem Ipsum</h2>
                <p style="color: white;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
            </div>
            <section class="info-area padding-top-50px text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon-box">
                                <div class="info-icon">
                                    <i class="la la-bullhorn"></i>
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <h4 class="info__title">You'll never roam alone</h4>
                                    <p class="info__desc">
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- end info-content -->
                            </div><!-- end icon-box -->
                        </div><!-- end col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="icon-box">
                                <div class="info-icon">
                                   <i class="la la-globe"></i>
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <h4 class="info__title">A world of choice – anytime, anywhere</h4>
                                    <p class="info__desc">
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- end info-content -->
                            </div><!-- end icon-box -->
                        </div><!-- end col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="icon-box">
                                <div class="info-icon">
                                   <i class="la la-thumbs-up"></i>
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <h4 class="info__title">Peace of mind, wherever you wander</h4>
                                    <p class="info__desc">
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- end info-content -->
                            </div><!-- end icon-box -->
                        </div><!-- end col-lg-4 -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section>
        </div>
    </section>

    <section class="pt-5 hotel-area section-padding overflow-hidden padding-right-100px padding-left-100px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center" style="height: fit-content !important; padding-bottom: 25px;">
                        <h2 class="sec__title line-height-55">Destinos Agregados Recientemente <br> </h2>
                        <p>Reserva ahora y empieza una nueva aventura con nosotros de inmediato.</p>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
            <div class="row pt-4">
                <div class="col-lg-12">
                    <div class="hotel-card-wrap">
                        <div class="hotel-card-carousel carousel-action">
                            {% for tour in tours_recientes %}
                            <div class="card-item mb-0" style="width: 85%; margin: auto;">
                                <a href="{% url 'tour_info' tour.token %}"><div class="card-img" style="height: 350px !important; background-image: url('{% if tour.imagen %}{{tour.imagen_thumbnail}}{% else %}{% static 'images/logo.png' %}{% endif %}'); background-size: cover; background-position: center; height: 220px;"></div></a>
                                <div class="card-body">
                                    <h3 class="card-title"><a href="{% url 'tour_info' tour.token %}">{{tour.nombre}}</a></h3>
                                    <p class="card-meta"><i class="las la-map-marker-alt"></i> {{tour.ubicacion}}</p>
                                    <div class="card-price d-flex align-items-center justify-content-between">
                                        <p>
                                            <span class="price__num">${{tour.precio|floatformat:2}}</span>
                                            <span class="price__text">Por persona</span>
                                        </p>
                                        <a href="{% url 'tour_info' tour.token %}" class="btn-text">Detalles<i class="la la-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card-item -->
                            {% endfor %}
                        </div><!-- end hotel-card-carousel -->
                    </div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-box mt-4 text-center">
                        <a href="{% url 'tours' %}" class="theme-btn" style="padding-left: 40px; padding-right: 40px; margin-top: 30px;">Ver Mas</a>
                    </div><!-- end btn-box
                    -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </section><!-- end salidas-area -->
    <!-- ================================
        END SALIDAS AREA
    ================================= -->
    <div class="hero-box mt-4" style="padding: 80px 1.25rem 80px 1.25rem; width: 100%; z-index:0; background-image:url('{% static 'images/fondo7.png' %}'); background-size: cover; background-position: center;">
        <div class="newsletter-section-container section-heading text-center pt-5 mt-5" style="height: fit-content !important;">
            <h2 class="sec__title line-height-55" style="color: white;">Suscribete para no perderte ninguna promocion</h2>
            <p style="color: white;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
        </div>
        <div class="newsletter-form">
            <input class="newsletter-input" type="email" placeholder="johndow@example.com">
            <div style="margin: auto; width: fit-content;">
            <button class="newsletter-button mt-3" >Enviar</button>
            </div>
        </div>
    </div>
</div>
<!-- ================================
    END SALIDAS AREA
================================= -->

{% endblock %}

{% block footer_code %}
<style>
    .newsletter-div{
        margin-left: -100px;
    }

    .icon-box .info-icon i{
        color: white !important;
    }

    .icon-box .info-content p{
        color: white !important;
        text-align: center;
    }

    .icon-box .info-content h4{
        color: white !important;
        text-align: center;
    }



    .sm-show{
        display: none;
    }

    .video-box{
        height: 650px;
    }

    .video-box:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.65;
        background-color: #0d233e;
    }

    .video-box{
        position: relative;
    }

    .newsletter-form{
        max-width: 500px;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 120px;
    }

    .newsletter-input{
        border-radius: 100px;
        height: 50px;
        width: 100%;
        font-size: 18px;
        border: 1px solid;
        text-align: center
    }

    .newsletter-button{
        height: 50px;
        width: 150px;
        margin-left: 10px;
        color: white;
        border: none;
        background-color: #7b00ff;
    }
    .newsletter-section{
        position: absolute;
        top: 0;
        padding: 80px 1.25rem 0 1.25rem;
        z-index: 2;
    }

    #myVideo {
      right: 0;
      bottom: 0;
      min-height: 100%;
    }

    /* Add some content at the bottom of the video/page */
    .content1 {
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }

    .card-item.destination-card .card-body{
      display: none !important;
    }

    .section-heading{
      height: 130px;
    }

    .section-heading h2{
      text-align: center;
    }

    .blog-area div{
        width: 100% !important;
    }

    .hero-box.hero-bg{
        padding-top: 200px;
    }

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .7s ease;
  cursor: pointer;
  border-radius: 20px;
  max-width: 360px;

}

.cards {
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}

label img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-item.special{
    cursor: inherit;
}
#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-80%) scale(.8);
  opacity: .6;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(80%) scale(.8);
  opacity: .6;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 2;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.categoria-opt button{
    border-radius: .25rem !important;
}

.theme-btn {
    border-radius: 100px !important;
}

#myTabContent3{
    padding: 30px 50px 30px 50px;
    background-color: white;
    border-radius: 0px 25px 25px 25px;
}

.cards{
    width: 100%;
}

.cards .card{
    width: 40%;
    border: none;
}

.sec__title.cd-headline.zoom{
    color: white;
    font-size: 75px;
    font-weight: bolder;
}

.cards-container{
     width: 964px;
}

.lugares-visitados-container{
    width: 900px;
}

.container-3{
    margin-left: -100px;
}

@media (max-width: 575px) {
    .newsletter-div{
        margin-left: 0px;
    }

    .sm-show{
        display: block;
    }

    .card-item .card-body {
        padding: 15px 20px;
    }

    .container-3{
        margin-left: 0px !important;
    }
    .video-box{
        height: 100vh;
    }

    .card{
        width: 75% !important;
    }

    .card-item .card-img {
        height: 300px !important;
        min-height: 300px !important;
    }
}

@media (max-width: 1300px) {
    .cards-container{
         width: 100%;
    }

    .lugares-visitados-container{
        width: 100%;
    }
}

@media (max-width: 991px) {
    .show-md{
        display: block;
    }

    .main-menu-content{
        height: 100vh;
    }

    #myTabContent3{
    padding: 15px 25px 25px 25px;}

    .cards .card{
        width: 100%;
    }

    .sec__title.cd-headline.zoom{
        color: white;
        font-size: 45px;
        font-weight: bolder;
    }

    .hero-box.hero-bg {
        padding-top: 120px;
    }

}

.special-row{
    display: flex !important;
    padding-bottom: 50px
}

@media (max-width: 1500px) {
    .special-row{
        display: block !important;
    }

    .xl-none{
        display: none !important;
    }

    .cards{
        width: 100%;
        margin-left: 0px !important;
    }
}

</style>

<script>
var currentSlide = $('input')

$('input').on('change', function() {
  $('body').toggleClass('blue');
});

var intervalId = window.setInterval(function(){
    $(function() {
        var $radios = $('input:radio[name=slider]');
        var current_slider = $('input[name="slider"]:checked').val();
        if(current_slider==='1'){
            $radios.filter('[value=1]').prop('checked', false);
            $radios.filter('[value=2]').prop('checked', true);
        }else if(current_slider==='2'){
            $radios.filter('[value=2]').prop('checked', false);
            $radios.filter('[value=3]').prop('checked', true);
        }else if(current_slider==='3'){
            $radios.filter('[value=3]').prop('checked', false);
            $radios.filter('[value=1]').prop('checked', true);
        }
        //if($radios.is(':checked') === false) {
        //    $radios.filter('[value=Male]').prop('checked', true);
        //}
    });
}, 4000);
</script>
{% endblock %}