{% extends "base.html" %}
{% load static %}
{% block header_code %}
{% endblock %}
{% block main_content %}
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title">Realizar Reserva</h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6">
                    <div class="breadcrumb-list">
                        <ul class="list-items d-flex justify-content-end">
                            <li><a href="index.html">Inicio</a></li>
                            <li>Realizar Reserva</li>
                        </ul>
                    </div><!-- end breadcrumb-list -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
        <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
    </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START BOOKING AREA
================================= -->
<section class="booking-area padding-top-100px padding-bottom-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% if not hay_suficientes_cupos %}
                <div class="alert alert-danger" role="alert">
                    <i class="las la-exclamation-circle"></i> Lo sentimos, pero actualmente no contamos con suficientes cupos para asegurarte un espacio en esta salida,
                    sin embargo puedes ingresar tus datos e ingresar a una cola de espera, y en caso de que se libere la cantidad necesaria de cupos, tu reserva se hará efectiva inmediatamente.
                </div>
                {% endif %}
                {% if salida.tour.abordaje_dia_anterior %}
                <div class="alert alert-warning" role="alert">
                  <i class="las la-exclamation-circle"></i> El abordaje a este tour es realizado el día anterior a la fecha de salida establecida.
                </div>
                {% endif %}
                {% for pasajero in pasajeros %}
                <div class="form-box">
                    <div class="form-title-wrap">
                        <h3 class="title">Información de Pasajero {{ forloop.counter }}</h3>
                    </div><!-- form-title-wrap -->
                    <div class="form-content ">
                        <div class="contact-form-action">
                            <form id="pasajero{{forloop.counter}}" class="pasajero" method="post">
                                <div class="row">
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Nombres</label>
                                            <div class="form-group">
                                                <span class="la la-user form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Nombres" maxlength="20" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Apellidos</label>
                                            <div class="form-group">
                                                <span class="la la-user form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Apellidos" maxlength="20" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Número de Cédula</label>
                                            <div class="form-group">
                                                <span class="la la-user form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Número de Cédula" maxlength="10" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
                {% endfor %}
                <div class="form-box">
                    <div class="form-title-wrap">
                        <h3 class="title">Información de Facturación</h3>
                    </div><!-- form-title-wrap -->
                    <div class="form-content ">
                        <div class="contact-form-action">
                            <form id="facturacion">
                                <div class="row">
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Nombres</label>
                                            <div class="form-group">
                                                <span class="la la-user form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Nombres" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Apellidos</label>
                                            <div class="form-group">
                                                <span class="la la-user form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Apellidos" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Correo Electronico</label>
                                            <div class="form-group">
                                                <span class="la la-envelope-o form-icon"></span>
                                                <input class="form-control" type="email" name="email" placeholder="Correo Electronico" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Numero de Telefono</label>
                                            <div class="form-group">
                                                <span class="la la-phone form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Numero de Telefono" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Direccion de Domicilio</label>
                                            <div class="form-group">
                                                <span class="la la-map-marked form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Direccion de Domicilio" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Cédula o RUC</label>
                                            <div class="form-group">
                                                <span class="la la-map-marked form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Cédula o RUC" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
                <div class="form-box">
                    <div class="form-title-wrap">
                        <h3 class="title">Seleccion al titular de la reserva</h3>
                    </div><!-- form-title-wrap -->
                    <div class="form-content" style="padding-bottom: 0px;">
                        {% for pasajero in pasajeros %}
                        <input type="radio" name="titular" value="{{forloop.counter}}" onclick="cambiarTitular()"> <label style="padding-left: 7px;">Pasajero {{ forloop.counter }}</label><br>
                        {% endfor %}
                        <input type="radio" name="titular" value="otro" onclick="cambiarTitular()" checked> <label style="padding-left: 7px;">Otro {{ forloop.counter }}</label>
                    </div>
                    <div class="form-content" style="padding-top: 10px;">
                        <div class="contact-form-action">
                            <form id="contacto">
                                <div class="row">
                                    <div id="otro-titular-form" class="row" style="display: flex; width: 100%; margin: 0;">
                                        <div class="col-lg-6 responsive-column">
                                            <div class="input-box">
                                                <label class="label-text">Nombres</label>
                                                <div class="form-group">
                                                    <span class="la la-user form-icon"></span>
                                                    <input class="form-control" type="text" name="text" placeholder="Nombres">
                                                </div>
                                            </div>
                                        </div><!-- end col-lg-6 -->
                                        <div class="col-lg-6 responsive-column">
                                            <div class="input-box">
                                                <label class="label-text">Apellidos</label>
                                                <div class="form-group">
                                                    <span class="la la-user form-icon"></span>
                                                    <input class="form-control" type="text" name="text" placeholder="Apellidos">
                                                </div>
                                            </div>
                                        </div><!-- end col-lg-6 -->
                                    </div>
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Correo Electronico</label>
                                            <div class="form-group">
                                                <span class="la la-envelope-o form-icon"></span>
                                                <input class="form-control" type="email" name="email" placeholder="Correo Electronico" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Numero de Telefono</label>
                                            <div class="form-group">
                                                <span class="la la-phone form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="Numero de Telefono" required>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
                <div class="form-box">
                    <div class="form-title-wrap">
                        <h3 class="title">Seleccione un Metodo de Pago</h3>
                    </div><!-- form-title-wrap -->
                    <div class="form-content">
                        <div class="section-tab check-mark-tab text-center pb-4">
                            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a onclick="cambiarPago('PAP');" class="nav-link active" id="credit-card-tab" data-toggle="tab" href="#credit-card" role="tab" aria-controls="credit-card" aria-selected="false">
                                        <i class="la la-check icon-element"></i>
                                        <i class="las la-credit-card" style="font-size: 45px;"></i>
                                        <span class="d-block">Payphone</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a onclick="cambiarPago('DEP');" class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="true">
                                        <i class="la la-check icon-element"></i>
                                        <i class="las la-money-check-alt" style="font-size: 45px;"></i>
                                        <span class="d-block">Transferencia o Depósito</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- end section-tab -->
                    </div><!-- end form-content -->
                    <div class="btn-box pt-2" style="text-align: center;">
                        <button style="color: white;" onclick="confirmarReserva(this)" class="theme-btn text-center w-25 mb-5">Confirmar Reserva</button>
                    </div>
                </div><!-- end form-box -->
            </div><!-- end col-lg-8 -->
            <div class="col-lg-4">
                <div class="form-box booking-detail-form">
                    <div class="form-title-wrap">
                        <h3 class="title">Detalles de la Reserva</h3>
                    </div><!-- end form-title-wrap -->
                    <div class="form-content">
                        <div class="card-item shadow-none radius-none mb-0">
                            <div class="card-img mb-4" style="background-image: url('{% if salida.tour.imagen %}{{salida.tour.imagen_url}}{% else %}{% static 'images/LOGO-n.png' %}{% endif %}'); background-size: cover; background-position: center;">
                            </div>
                            <div class="card-body p-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h3 class="card-title">{{salida.tour.nombre}}</h3>
                                        <p class="card-meta">{{salida.tour.ubicacion}}</p>
                                    </div>
                                </div>
                                <div class="section-block"></div>
                                <ul class="list-items list-items-2 list--items-2 py-2">
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-calendar mr-1 text-black font-size-17"></i>Fecha de Salida</span>{{ salida.fecha_salida }}</li>
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-calendar mr-1 text-black font-size-17"></i>Hora de Salida</span>{{ salida.tour.hora_salida }}</li>
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-clock-o mr-1 text-black font-size-17"></i>Duracion</span>{{ salida.tour.duracion }} Día(s)</li>
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-map-marker mr-1 text-black font-size-17"></i>Salida desde</span>{{ salida.tour.lugar_salida }}</li>
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-user mr-1 text-black font-size-17"></i># Pasajeros</span>{{ pasajeros|length }}</li>
                                </ul>
                                <ul class="list-items list-items-2 pt-3">
                                    <li>
                                        <div style="width: 100%; display: flex;">
                                            <p style="width: 70%;"><span>Subtotal:</span></p>
                                            <p style="width: 30%; text-align: right;">${{detalle_orden.subtotal | floatformat:2 }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div style="width: 100%; display: flex;">
                                            <p style="width: 70%;"><span>Impuestos:</span></p>
                                            <p style="width: 30%; text-align: right;">${{detalle_orden.impuestos | floatformat:2 }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div style="width: 100%; display: flex;">
                                            <p style="width: 70%;"><span>Total:</span></p>
                                            <p style="width: 30%; text-align: right;">${{detalle_orden.total | floatformat:2 }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end card-item -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end booking-area -->
<!-- ================================
    END BOOKING AREA
================================= -->

<div class="section-block"></div>
{% endblock %}

{% block footer_code %}
<style>
    .card-item.destination-card .card-body{
      display: none !important;
    }

    .bread-bg {
        background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max) !important;
    }

    .form-error{
        background-color: #ffeaea !important;
        border-color: #cc5d5d !important;
    }

    input[type=radio]{
        cursor: pointer;
    }
</style>
<script src=»https://pay.payphonetodoesposible.com/api/button/js?appId=Iz7xRtMgDkKG9gQW6I41BA»></script>
<script>
    var metodo_pago = 'PAP';
    function confirmarReserva(btn){
        btn.disabled = true;
        var noHayErrores = true;
        requestDic = {facturacion: {}, pasajeros: [], salida: '{{ salida.id}}', metodo_pago: metodo_pago, valor: '{{detalle_orden.total | floatformat:2 }}'}
        var allForms = document.forms
        for(var i=0; i<allForms.length; i++){
            var elements = allForms[i].elements

            if(allForms[i].id == 'facturacion' || allForms[i].classList.contains('pasajero') || allForms[i].id == 'contacto'){
                var hayErrores = validarCampos(elements)
                if(!hayErrores){
                    noHayErrores = false
                }
            }

            if(allForms[i].id == 'facturacion'){
                var facturacion = {nombres:elements[0].value, apellidos:elements[1].value, correo:elements[2].value, tlf:elements[3].value, domicilio:elements[4].value, cedula: elements[5].value}
                requestDic.facturacion = facturacion
            }else if(allForms[i].id == 'contacto'){
                var radios = document.getElementsByName('titular');
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        var otroTitularForm = document.getElementById("otro-titular-form");
                        if(radios[i].value == 'otro'){
                            var contacto = {nombres:elements[0].value, apellidos:elements[1].value, correo:elements[2].value, tlf:elements[3].value}
                            requestDic.contacto = contacto
                        }else{
                            let pasajeroId = 'pasajero'+String(radios[i].value)
                            var pasajeroForm = document.getElementById(pasajeroId)
                            var contacto = {nombres:pasajeroForm.elements[0].value, apellidos: pasajeroForm.elements[1].value, correo:elements[2].value, tlf:elements[3].value}
                            requestDic.contacto = contacto
                        }
                    }
                }
                requestDic.contacto = contacto
            }else if(allForms[i].classList.contains('pasajero')){
                var pasajero = {nombres: elements[0].value, apellidos: elements[1].value, cedula: elements[2].value}
                requestDic.pasajeros.push(pasajero)
            }
        }
        if(!noHayErrores){
            alert('Revise los datos ingresados')
            btn.disabled = false;
        }else{
            $.ajax({
              type: "POST",
              url: "{% url 'tour_booking' salida.tour.token %}",
              data: {csrfmiddlewaretoken: '{{ csrf_token }}', booking_data: JSON.stringify(requestDic)},
              success:function(response){
                if(response.status == 200){
                    window.location.href = '{{settings.URL}}'+response.url
                }else{
                    btn.disabled = false;
                }
              },
            });
        }
    }

    function validarCampos(elements){
        var returnValue = true
        for(var j=0; j<elements.length; j++){
            if(!elements[j].checkValidity()){
                returnValue = false
                elements[j].classList.add('form-error')
            }else{
                try{
                    elements[j].classList.remove('form-error')
                }catch{}
            }
        }
        return returnValue
    }

    function cambiarTitular(){
        var radios = document.getElementsByName('titular');
        for (var i = 0; i < radios.length; i++) {
          if (radios[i].checked) {
          var otroTitularForm = document.getElementById("otro-titular-form");
            if(radios[i].value == 'otro'){
                otroTitularForm.style.display = 'flex';
            }else{
                otroTitularForm.style.display = 'none';
            }
            break;
          }
        }
    }

    function cambiarPago(pago){
        metodo_pago = pago
    }
</script>
{% endblock %}