{% extends "base.html" %}
{% load static %}
{% load qr_code %}
{% block header_code %}
<script src="https://pay.payphonetodoesposible.com/api/button/js?appId=Iz7xRtMgDkKG9gQW6I41BA"></script>
{% endblock %}
{% block main_content %}
<!-- ================================
    START PAYMENT AREA
================================= -->
<section class="payment-area section-bg section-padding fondo-mundi" style="padding-top: 50px !important;">
    <div class="container custom">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="col-12 pb-4" style="margin: auto; text-align: center;">Detalles de la Reserva</h2>
                <div class="form-box payment-received-wrap mb-0">
                    <div class="form-content" style="padding-bottom: 35px;">
                        <div class="row" style="width: 100%; margin: 0; padding-top:15px;">
                            <div class="col-lg-6">
                                <div class="reserva-card">
                                <div class="reserva-card-img" style="min-height: 220px; max-height: 350px; width: 100%; border-radius: 20px !important; background-image: url('{{reserva.salida.tour.imagen_url}}'); background-size: cover; background-position: center;"></div>
                                <h3 class="title">Tour - {{reserva.salida.tour.nombre}}</h3>
                                <p class="description">{{reserva.salida.fecha_salida}}</p>
                                <h3 class="title">Estado de la Reserva</h3>
                                <p class="description">{{ reserva.obtener_estado_str }}</p>
                                <h3 class="title">Pasajeros</h3>
                                {% for pasajero in pasajeros %}
                                    <p class="description-pasajero">{{pasajero.cedula}} - {{pasajero.nombres}}</p>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-6 reserva-info">
                                <div style="display: flex;">
                                    <div class="info-icon" style="background-color: #ecc228;">
                                        <i class="las la-clock"></i>
                                    </div>
                                    <div>
                                        <h3 class="title">Hora Checkin</h3>
                                        <p>{{reserva.salida.tour.hora_checkin}} - {{reserva.salida.tour.hora_salida}}</p><br>
                                    </div>
                                </div>
                                <div style="display: flex; margin-top:10px;">
                                    <div class="info-icon" style="background-color: #3f75b7;">
                                        <i class="las la-map-pin"></i>
                                    </div>
                                    <div>
                                        <h3 class="title">Lugar del Checkin</h3>
                                        <p>{{reserva.salida.tour.lugar_salida}}</p><br>
                                    </div>
                                </div>
                                <div style="display: flex; margin-top:10px;">
                                    <div class="info-icon" style="background-color: #50a97b;">
                                        <i class="las la-dollar-sign"></i>
                                    </div>
                                    <div>
                                        <h3 class="title">Pagar Antes De</h3>
                                        <p>{{fecha_pago}}</p><br>
                                    </div>
                                </div>
                                <div class="mt-4" style="width: 100%">
                                    <p style="width: 100%; text-align: center;">Valor Total</p>
                                    <h1 style="width: 100%; text-align: center;">${{ reserva.obtener_valor_decimal }}</h1>
                                </div>
                                <div class="row" style="width: 100%; margin: 10px 0 !important; padding-top: 15px;">
                                    {% if reserva.estado == 'PEN' %}
                                    <div class="col-lg-6 pago-box">
                                        <div style="text-align: center;">
                                            {% if reserva.metodo_de_pago == 'PAP' %}
                                                <p style="margin-bottom: 5px;">Pagar</p>
                                                <div id="pp-button"></div>
                                            {% else %}
                                                <p style="margin-bottom: 5px;">Pagar</p>
                                                <div style="width: fit-content; margin: auto;">
                                                    <div class="input-box">
                                                        <div class="form-group">
                                                            <p id="input-text"></p>
                                                            <label id="input-label" class="theme-btn" for="fileinput" style="cursor: pointer; text-overflox: ellipsis;">Subir Comprobante</label>
                                                            <label id="input-upload" onclick="subirImagen()" class="theme-btn" style="cursor: pointer; text-overflox: ellipsis; display: none;">Subir</label>
                                                            <input onchange="getImageData()" id="fileinput" class="form-control" type="file" name="imagen" style="display: none; visibility:hidden; height: 52px; padding: 10px 20px 10px 20px !important;" accept=".jpg, .jpeg, .png, .pdf">
                                                        </div>
                                                    </div>
                                                </div><!-- end col-lg-6 -->
                                                {% if reserva.comprobante_es_imagen %}
                                                <a href="{{settings.AWS_S3_BUCKET_URL}}{{reserva.comprobante}}" data-lightbox="image-1">Ver Comprobante</a>
                                                {% elif reserva.comprobante_es_documento%}
                                                <a target="_blank" href="{{settings.AWS_S3_BUCKET_URL}}{{reserva.comprobante}}" >Ver Comprobante</a><br>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <p style="margin-bottom: 5px; width: 100%; text-align: center;">Anular</p>
                                        <div class="btn-box" style="width: fit-content; margin: auto;">
                                            <a onclick="cancelar_reserva()" class="theme-btn border-0 text-white bg-7">Anular Reserva</a>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-lg-12">
                                        <p style="width: 100%; text-align: center;">ESTADO DE LA RESERVA</p>
                                        <p style="width: 100%; text-align: center; font-size: 20px !important; font-weight: 600; margin-top: 15px; color: {% if reserva.de_baja %}red{% else %}green{% endif %}">{{ reserva.obtener_estado_str }}</p>
                                    </div>
                                    {% endif %}
                                    {% if reserva.metodo_de_pago == 'PAP' and reserva.estado == 'PEN' %}
                                        <p style="margin-top: 15px; display: inline; text-align: justify;">El pago con PayPhone suele tardar hasta un minuto en verse reflejado en el sistema. Para verificar si ya se ha hecho efectivo, refrescar la página <a style="display: inline; cursor: pointer; color: blue; text-decoration: underline;" onclick="javascript:window.location.reload()">aquí</a>.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- end payment-card -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- ================================
    END PAYMENT AREA
================================= -->
{% endblock %}

{% block footer_code %}

<style>
.reserva-info{
    margin-top: 0;
}

.theme-btn{
    border-radius: 50px;
    line-height: 18px;
    padding: 10px;
}

.payphone.btn-container p{
    display: none !important;
}

.pago-box{
    border-right: 1px solid #77798D;
}

.card-item.destination-card .card-body{
  display: none !important;
}

.section-heading{
  height: 130px;
}

.section-heading h2{
  text-align: center;
}

.info-icon{
    height: 54px;
    width: 54px;
    border-radius: 10px;
    background-color: aquamarine;
    margin: 2px 25px 0 15px;
}

.info-icon i{
    font-size: 44px;
    color: white;
    padding: 6px;
}

.reserva-card{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ccc;
    height: 100%;
}

.reserva-card-img{
    margin-bottom: 20px;
}

.description{
    margin-bottom: 10px
}

.description-pasajero{
    margin-bottom: 5px
}

h3{
    font-size: 18px !important;
    font-weight: 500;
}

p{
    font-size: 15px !important;
    line-height: 18px !important;
}

.container.custom{
    max-width: 950px;
}

@media (max-width: 991px) {
    .container.custom{
        max-width: 550px;
    }

    .reserva-info{
        margin-top: 45px;
    }
}

.payphone #payphone-btn {
    color: #fff;
    background-color: #F57E2D;
    border-color: #F57E2D;
    min-width: 150px !important;
    min-height: 44px;
}
</style>

<link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />
<script src="{% static 'lightbox/js/lightbox.js' %}"></script>

<script>
    var semaforo = true;

    var imagen = ''
    var filename = ''

    function getImageData(){
        var input = document.getElementById('fileinput');
        var file = input.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
            imagen = reader.result;
            filename = file.name;
            document.getElementById("input-text").innerHTML = filename;
            document.getElementById("input-label").style.display = "none";
            document.getElementById("input-upload").style.display = "block";
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };
    }

    function subirImagen(){
        if(semaforo = true){
            semaforo = false;
            $.ajax({
              type: "POST",
              url: "{% url 'subir_comprobante' %}",
              data: {csrfmiddlewaretoken: '{{ csrf_token }}', imagen: imagen, filename: filename, reserva: '{{ reserva.token }}'},
              success:function(response){
                window.location.reload()
                semaforo = true;
              },
              error: function(err){
                console.log(err)
                semaforo = true;
                Swal.fire({
                  icon: 'error',
                  title: 'Ha ocurrido un error',
                  text: 'Lo sentimos, ha ocurrido un error. Vuelva a intentarlo más tarde, estamos trabajando en ello.',
                })
              }
            });
        }
    }
    try{
        lightbox.option({
          'resizeDuration': 100,
          'wrapAround': true
        })
    }catch{}

    {% if not reserva.pagado %}
    window.onload = function() {
    payphone.Button({

    //token obtenido desde la consola de developer
    token: "2KAO-HrEN850Og0EenF_JmvaEMik8sOqvR7NmHg1rkAHGwehhWUBvjZxfjKjQPuuURPMkJF6oAaWWn1QqvFKeWIqi40k9ZltU0CWseEFWdoW3rQm3NgEGefZ0m8knZdtcP9wRQFJm5Vhx0PSgIeeh5OhRp5Poa6OsdLFrzPpo6FmYAT5f6Q_MGqwGKN4lRCt04NMCwXW_cS5rYKm994QWlmYzq7WnXX7b4NHqrxOSEF3Xl5Jb-nsRTUVngJmwvA0ue1GtobQyT6ii2-Cql5DzioerrsEr3lgwmQ_Vz3WW3iAxDSFZ8BKH_WjKVV73-pH8oMoaHq3e8NXMvWGoE4OQ4shrNM",

    //PARÁMETROS DE CONFIGURACIÓN
    btnHorizontal: true,

    createOrder: function(actions){

    //Se ingresan los datos de la transaccion ej. monto
    return actions.prepare({

    amount: {{reserva.valor}},
    amountWithoutTax: {{reserva.valor}},
    currency: "USD",
    clientTransactionId: "{{reserva.token}}"
    });

    },
    onComplete: function(model, actions){
        //Se confirma el pago realizado
        actions.confirm({
        id: model.id,
        clientTxId: model.clientTxId
    }).then(function(value){
        if (value.transactionStatus == "Approved"){
            Swal.fire({
              icon: 'success',
              title: 'Pago realizado con éxito!',
              text: 'Estamos emitiendo y enviando el ticket de abordaje al correo electrónico del titular de la reserva. Gracias por elegir Explore It.',
            })
            setTimeout(function(){ window.location.reload(); }, 3000);
        alert("Pago " + value.transactionId + " recibido, estado " + value.transactionStatus );
        }
    }).catch(function(err){
        console.log(err);
    });

    }
    }).render("#pp-button");
    {% endif %}
}

function cancelar_reserva(){
    $.ajax({
      type: "POST",
      url: "{% url 'cancelar_reserva' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}', token: '{{reserva.token}}'},
      success:function(response){
        if(response.status == 200){
            Swal.fire({
              icon: 'success',
              title: 'Solicitud de Cancelación Enviada!',
              text: 'Se ha enviado un correo al titular de la reserva con el enlace para confirmar la cancelación de esta reserva.',
            })
            setTimeout(function(){ window.location.reload(); }, 3000);
        }else{}
      },
    });
}
</script>
{% endblock %}