{% extends "base.html" %}
{% load static %}
{% block main_content %}
                <div class="filter-wrap margin-bottom-30px">
                    <div class="filter-top d-flex align-items-center justify-content-between pb-4">
                        <div>
                            <h3 class="title font-size-24">Travel Agency</h3>
                            <p class="font-size-14 line-height-20 pt-1">Tu aventura empieza con nosotros</p>
                        </div>
                    </div><!-- end filter-top -->
                    <div class="filter-bar d-flex align-items-center justify-content-between">
                        <div class="filter-bar-filter d-flex flex-wrap align-items-center">
                            <div class="filter-option">
                                <h3 class="title font-size-16">Buscar por:</h3>
                            </div>
                    </div><!-- end filter-bar-filter -->
                </div><!-- end filter-wrap -->
{% endblock %}
{% block footer_code %}
{% endblock %}