{% extends "base.html" %}
{% load static %}

{% block header_code %}
    <style>
    .contact-form-action .form-control {
        padding: 10px;
    }
    </style>
{% endblock %}

{% block main_content %}
<!-- ================================
    START DASHBOARD AREA
================================= -->
<section class="">
    <div class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="padding: 80px;">
                        <div class="form-box">
                            <div class="form-title-wrap" style="display: flex !important;">
                                <div style="width: 100%; text-alig: center;">
                                    <h3 class="title">Escriba los datos de su reserva</h3>
                                </div>    
                            </div>
                            <form id="findReservationForm" action="" autocomplete="off">
                                <div class="row form-content contact-form-action" style="width: 40%; margin: auto;">
                                    <div class="col-lg-12 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Código del Tour</label>
                                            <div class="form-group">
                                                <input id="tok" class="form-control" type="text" name="tok" placeholder="Ingresar el codigo de su reserva">
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                </div>
                                <div class="btn-box" style="width: fit-content; margin: auto; margin-bottom: 40px;">
                                    <button onclick="" class="theme-btn border-0">Buscar</button>
                                </div>
                            </form>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->
{% endblock %}
{% block footer_code %}
<script>
    function buscarReserva(){
        var token = document.getElementById('correo').value
        console.log(token)
        var new_url = '{% url 'ver_reserva' %}'+'?tok='+token
        console.log(new_url)
    }
</script>
{% endblock %}